/* WHY THE FUCK IS THIS HARDCODED DISCORD??? */
div[class^="switchIndicator_"] {
	border-color: rgba(var(--SNC-IPrimary), var(--SNDL-UI_Opacity_Floating)) !important;
}
div[class^="switchIndicator_"][style*="rgba(0"] {
	background: transparent !important;

	svg > rect {
		fill: rgba(var(--SNC-IPrimary), var(--SNDL-UI_Opacity_Solid)) !important;
	}
}
div[class^="switchIndicator_"]:not([style*="rgba(0"]) {
	background: rgba(var(--SNC-IPrimary), var(--SNDL-UI_Opacity_Floating)) !important;

	svg > rect {
		fill: rgba(var(--SNC-Primary), var(--SNDL-UI_Opacity_Solid)) !important;
	}
}