div[data-mana-component="layer-modal"] {
	border-radius: var(--SNDL-UI_Border-Radius);
	background: rgba(var(--SNC-Primary), var(--SNDL-UI_Opacity_Solid));

	div[class^="container_"] > div[class^="content_"] {
		background: transparent !important;

		> div[class^="contentHeader_"] {
			position: absolute; width: 98%; z-index: 1;
			background: transparent;
		}
	}
}