.env

__pycache__
*.pyc

Misono_Worshipper/Data
Misono_Worshipper/Frontend

Misono_Worshipper/Common/*
Misono_Worshipper/App.tsna
Misono_Worshipper/Config.json
Misono_Worshipper/Logged.json
Misono_Worshipper/Main.py

Misono_CSS/Eleison