html {
	/* Pink */
	--Mika-Abyss: 105, 0, 105; /* #690069 */
	--Mika-Night: 130, 25, 130; /* #821982 */
	--Mika-Moon: 155, 50, 155; /* #9b329b */
	--Mika-Sky: 205, 100, 205; /* #cd64cd */
	--Mika-Day: 230, 125, 230; /* #e67de6 */
	--Mika-Sun: 255, 150, 255; /* #ff96ff */
}